.modal-body-child-adult{
    padding:0;
    .all-inside-child-adult{
       display: flex;
       flex-direction: column;
       .img-modal-body{
           width: 100%;
           img{
               width: 100%;
           }
       }
       .content-modal-body{
           padding: 3rem;
           width: 90%;
           margin:0;
           @media all and(max-width: 1024px){
               padding: 1rem 3rem 3rem 3rem;
               width: 70%;
           }
           h1{
               font-size: 30px;
               @media all and(max-width: 640px){
                   font-size: 22px;
               }
           }
           p{
               font-size: 16px;
               line-height: 1.7;
               @media all and(max-width: 640px){
                font-size: 14px;
            }
           }
       }
    }
}
.img-modal-body{
    @media all and(max-width: 1024px){
        display: none;
    }
}
.content-modal-body{
    @media all and(max-width: 1024px){
        width: 100%;
        text-align: center;
        margin:0;
    }
    .btn-modal-body{
       @media all and(max-width: 1024px){
           justify-content: center;
       }
    }
}