.modal,
.modal-box {
  z-index: 900;
}

.modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}


.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0,0,.3,1.6);
}
@media all and (max-width: 1024px) {
    .modal-box{
      width: 90%;
    }
  }


.modal-header {
  padding: 20px 40px;
  background: #fff;
  color: #000;
}

.modal-body {
  /* background: #ECEFF1; */
  background: #fff;
  padding: 20px 20px;
  padding-bottom: 50px;
}

/* Close Button */
.close-modal {
  text-align: right;
  cursor: pointer;
}

/* Animation */
@-webkit-keyframes modalbox {
  0% {
    /* top: -250px;  */
    opacity: 0;
  }
  100% {
    /* top: 0;  */
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    /* top: -250px;  */
    opacity: 0;
  }
  100% {
    /* top: 0;  */
    opacity: 1;
  }
}

/* Aditional Styles */
* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

p {
  line-height: 1.4em;
}



.modal-trigger {
  
  margin-top: 10px;
 width: 100%;
 color: rgb(77, 77, 77);
  text-decoration: none;
}

.modal-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: ease .2s;
}

.child-adult-modal{
  position: relative;
  top: 0;
  left: 0;
}
.child-adult-modal-mobile{
  color: #fff;
  position:relative;
  top: 0;
  left:0;
 
}

/* button {
  border: 1px solid #333333;
  outline: none;
  color: #333333;
} */

.modal-trigger:hover {
  padding: 20px 60px;
  
}




/*  INSIDE MODALBOX */

.all-inside{
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  
}
@media screen and (max-width: 1024px){
  .all-inside{
    /* width: 110%; */
    justify-content: center;
  }
}
.img-modal-body{
  margin-right: 20px;
}
.img-modal-body img {
  width: 90%;
}
.content-modal-body{
  width: 50%;
  margin-left: 20px;
}
.content-modal-body h1{
  font-size: 23px;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  color: rgb(32, 32, 32);
}
.content-modal-body p{
  font-size: 15px;
  margin-top: 10px;
  font-weight: 300;
  line-height: 1.8;
  color:rgb(77, 77, 77);
  
}
.content-modal-body strong{
  font-weight: 600;
}

.content-modal-body h4{
  font-size: 15px;
  margin-top: 30px;
  font-weight: 300;
  color:rgb(77, 77, 77);

}
.btn-modal-body {
  margin-top: 30px;
  display: flex;
  /* justify-content: center; */

}
.btn-modal{
  
  text-decoration: none;
  color:#fff;
  background: #f43c3c;
  border: 1px solid #f43c3c;
  padding: 10px 30px;
  font-size: 17px;
}
