.modal-body-child-adult {
  padding: 0;
}

.modal-body-child-adult .all-inside-child-adult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-body-child-adult .all-inside-child-adult .img-modal-body {
  width: 100%;
}

.modal-body-child-adult .all-inside-child-adult .img-modal-body img {
  width: 100%;
}

.modal-body-child-adult .all-inside-child-adult .content-modal-body {
  padding: 3rem;
  width: 90%;
  margin: 0;
}

@media all and (max-width: 1024px) {
  .modal-body-child-adult .all-inside-child-adult .content-modal-body {
    padding: 1rem 3rem 3rem 3rem;
    width: 70%;
  }
}

.modal-body-child-adult .all-inside-child-adult .content-modal-body h1 {
  font-size: 30px;
}

@media all and (max-width: 640px) {
  .modal-body-child-adult .all-inside-child-adult .content-modal-body h1 {
    font-size: 22px;
  }
}

.modal-body-child-adult .all-inside-child-adult .content-modal-body p {
  font-size: 16px;
  line-height: 1.7;
}

@media all and (max-width: 640px) {
  .modal-body-child-adult .all-inside-child-adult .content-modal-body p {
    font-size: 14px;
  }
}

@media all and (max-width: 1024px) {
  .img-modal-body {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  .content-modal-body {
    width: 100%;
    text-align: center;
    margin: 0;
  }
}

@media all and (max-width: 1024px) {
  .content-modal-body .btn-modal-body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=modal2.css.map */