*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
  }
  
  /*Actual Style*/
  
  .c-container {
    position: relative;
    margin: 8rem auto;
    max-width: 1000px;
    cursor: none;
  }
  @media only screen and (max-width: 1024px){
    .c-container{
        display: none;
    }
}
  
  
  .c-container__img {
    width: 100%;
  }
  
  .c-image-magnifier__image {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    user-select: none;
  }
  
  .o-loupe-wrapper {
    position: absolute;
    width: 9.45rem; /*~150px*/
    height: 9.45rem; /*~150px*/
    /*max-width: 18.45rem;*/ /*~300px*/
    /*max-height: 18.45rem;*/ /*~300px*/
    border-radius: 100%;
    border: 5px solid #fff;
    overflow: hidden;  
    pointer-events: none;
    transform: scale(0);
    opacity: 0;
    transition: opacity 0s .15s, transform .3s ease-out;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .7);
    z-index: 999;
  }
  
  [data-image-magnifier]:hover .o-loupe-wrapper {
    transform: scale(1.5);
    opacity: 1;
    transition-timing-function: ease-in;
   
  }
       
  
  .o-loupe-wrapper__image {
  }
  