.socks-front .hidden-child {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.socks-front:hover .hidden-child {
  visibility: visible;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
/*# sourceMappingURL=changeimg.css.map */