.form {
  margin-bottom: 100px;
}

@media all and (max-width: 640px) {
  .form {
    margin-bottom: 50px;
  }
}

.form .all-form {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (max-width: 1280px) {
  .form .all-form {
    width: 80%;
  }
}

@media all and (max-width: 1024px) {
  .form .all-form {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form .all-form .contact {
  text-align: center;
}

@media all and (max-width: 1024px) {
  .form .all-form .contact {
    margin-bottom: 20px;
  }
}

.form .all-form .contact h3 {
  font-size: 35px;
  color: #f43c3c;
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
}

@media all and (max-width: 767px) {
  .form .all-form .contact h3 {
    font-size: 28px;
  }
}

.form .all-form .contact p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  color: #000;
}

.form .all-form .contact p a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form .all-form .contact p a:hover {
  color: tomato;
}

@media all and (max-width: 767px) {
  .form .all-form .contact p {
    font-size: 15px;
  }
}

.form .all-form .contact .contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .all-form .contact .contact-icon p {
  font-size: 40px;
  padding: 0 5px;
  color: tomato;
}

.form .all-form .contact .contact-icon-phone-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .all-form .contact .contact-icon-phone-mail i {
  margin-top: 7px;
  margin-right: 10px;
  color: tomato;
}

.form .all-form .form-form {
  max-width: 40rem;
}

@media all and (max-width: 640px) {
  .form .all-form .form-form {
    width: 15rem;
  }
}

.form .all-form .form-form .form-row {
  margin-bottom: 1rem;
}

.form .all-form .form-form .form-row:last-child {
  margin-bottom: 0;
}

.form .all-form .form-form .form-row input {
  padding: 0.8rem;
  border: 1px solid #bbb;
  display: block;
  width: 100%;
  color: #666;
}

.form .all-form .form-form .form-row textarea {
  padding: 0.8rem;
  border: 1px solid #bbb;
  display: block;
  width: 100%;
  color: #666;
  height: 10rem;
}

.form .all-form .form-form .form-row label {
  display: block;
  font-size: 15px;
  margin-bottom: 0.3rem;
  font-weight: 300;
}

.form .all-form .form-form .form-row .together-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 640px) {
  .form .all-form .form-form .form-row .together-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form .all-form .form-form .form-row .together-row .left-row {
  margin-right: 5px;
}

@media all and (max-width: 640px) {
  .form .all-form .form-form .form-row .together-row .left-row {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.form .all-form .form-form .form-row .together-row .right-row {
  margin-left: 5px;
}

@media all and (max-width: 640px) {
  .form .all-form .form-form .form-row .together-row .right-row {
    margin-left: 0;
  }
}

.form .all-form .form-form .submit-btn {
  font-family: sans-serif;
  padding: 1rem 2rem;
  cursor: pointer;
  background: tomato;
  border: 0;
  border-radius: 0.2rem;
  color: #FFF;
  font-size: 1.1rem;
  font-weight: bold;
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}

@media all and (max-width: 640px) {
  .form .all-form .form-form .submit-btn {
    padding: 13px 25px;
    font-size: 17px;
  }
}
/*# sourceMappingURL=contact.css.map */