

// $color: #f43c3c;
$color: tomato;
$font:  'Playfair Display', serif;
.form{
    margin-bottom: 100px;
    @media all and(max-width: 640px){
        margin-bottom: 50px;
    }
    .all-form{
        width: 60%;  
       
        
        margin: 0 auto;
        
        display: flex;
        justify-content: space-between; 
       
        @media all and(max-width: 1280px){
            width: 80%;
        }
        @media all and(max-width: 1024px){
            width: 80%;
            // padding: 0 20px;
            flex-direction: column;
            align-items: center;
        }
        
        .contact{
            text-align: center;
            @media all and(max-width: 1024px){
                margin-bottom: 20px;
            }
            h3{
                font-size: 35px;
                color: #f43c3c;
                font-family: $font;
                margin-bottom: 30px;
                @media all and(max-width: 767px){
                    font-size: 28px;
                }
            }
            p{
                font-size: 18px;
                font-weight: 300;
                line-height: 1.8;
                color: #000;
                a{
                    text-decoration: none;
                    transition: 0.2s;
                    &:hover{
                        color: tomato;
                    }
                }
                @media all and(max-width: 767px){
                    font-size: 15px;
                }
            }
            .contact-icon{
                display: flex;
                justify-content: center;
                p{
                    font-size: 40px;
                    padding: 0 5px;
                    color: tomato;
                }
            }
            .contact-icon-phone-mail{
                display: flex;
                justify-content: center;
                
                i{
                    margin-top: 7px;
                    margin-right: 10px;
                    color: tomato;
                }
            }
        }

        .form-form{
            
            max-width: 40rem;
            @media all and(max-width: 640px){
                width: 15rem;
                
            }
            .form-row{
                    margin-bottom: 1rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                
                input{
                    padding: 0.8rem;
                    border: 1px solid #bbb;
                    display: block;
                    width: 100%;
                    color: #666;
                    
                }
                textarea{
                    padding: 0.8rem;
                    border: 1px solid #bbb;
                    display: block;
                    width: 100%;
                    color: #666;
                    height: 10rem;
                    
                }
                label{
                    display: block;
                    font-size: 15px;
                    margin-bottom: 0.3rem;
                    font-weight: 300;
                    
                }
                .together-row{
                    display: flex;
                    // @media all and(max-width: 767px){
                    //     flex-direction: column;
                    // }
                    @media all and(max-width: 640px){
                        flex-direction: column;
                        
                    }
                    .left-row{
                        margin-right: 5px;
                        // @media all and(max-width: 767px){
                        //     margin:0;
                        // }
                        @media all and(max-width: 640px){
                            margin-right:0;
                            margin-bottom: 10px;
                            
                        }
                    }
                    .right-row{
                        margin-left: 5px;
                        // @media all and(max-width: 767px){
                        //     margin:0;
                        //     margin-top: 10px;
                        // }
                        @media all and(max-width: 640px){
                            margin-left:0;
                            
                        }
                    }
                }
            }
            .submit-btn{
                font-family: sans-serif;
                padding: 1rem 2rem;
                cursor: pointer;
                background:$color;
                border: 0;
                border-radius: 0.2rem;
                color: #FFF;
                font-size: 1.1rem;
                font-weight: bold;
                transition: 0.3s background-color;
                @media all and(max-width: 640px){
                    padding: 13px 25px;
                    font-size: 17px;
                    
                }
            }

        }
    }
}