// $color: #f43c3c;
$color: tomato;
.footer{
    text-align: center;
    
    .foot{
        font-size: 15px;
        font-weight: 300;
        border-top: 1px solid #ccc;
        padding-top: 20px;
        padding-bottom: 20px;
        a{
            text-decoration: none;
            color: $color;
            font-weight: 500;
        }
    }
}

