.footer {
  text-align: center;
}

.footer .foot {
  font-size: 15px;
  font-weight: 300;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer .foot a {
  text-decoration: none;
  color: tomato;
  font-weight: 500;
}
/*# sourceMappingURL=footer.css.map */