// $color: #f43c3c;
$color: tomato;
.four{
    background-color: rgb(243, 242, 242);
    padding-top: 100px;
    .all-four{
        .header-four{
            text-align: center;
            h3{
                margin-bottom: 15px;
                font-family: 'Playfair Display', serif;
                font-weight: 500;
                color: $color;
                font-size: 25px;
            }
            h5{
                margin-bottom: 20px;
                font-weight: 300;
                color: $color;
            }
            p{
                line-height: 1.7;
                padding-bottom: 100px;
                font-size: 17px;
                font-weight: 300;
                width: 50%;
                margin: 0 auto;
                color: #707070;
                @media all and(max-width: 767px){
                    width: 90%;
                    font-size: 15px;
                }
                strong{
                    color: $color;
                }
            }
        }
    }
    .img-four{
        
        // background-image: url("/skiety/img/galeria/d1.jpeg");
        // background-repeat: no-repeat;
        // background-position: 50% 20%;
        // width: 100%;
        // height: 800px;
        // img{
        //     width: 100%;
           
        // }
    }
    
}