.four {
  background-color: #f3f2f2;
  padding-top: 100px;
}

.four .all-four .header-four {
  text-align: center;
}

.four .all-four .header-four h3 {
  margin-bottom: 15px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: tomato;
  font-size: 25px;
}

.four .all-four .header-four h5 {
  margin-bottom: 20px;
  font-weight: 300;
  color: tomato;
}

.four .all-four .header-four p {
  line-height: 1.7;
  padding-bottom: 100px;
  font-size: 17px;
  font-weight: 300;
  width: 50%;
  margin: 0 auto;
  color: #707070;
}

@media all and (max-width: 767px) {
  .four .all-four .header-four p {
    width: 90%;
    font-size: 15px;
  }
}

.four .all-four .header-four p strong {
  color: tomato;
}
/*# sourceMappingURL=four.css.map */