.gallery{
    margin-top: 100px;
    .all-gallery{
        display: flex;
        .all-gallery-image{
            // padding: 0 20px;
            img{
                width: 100%;
            }
            p{
                text-align: center;
                width: 50%;
                margin:0 auto;
                font-size: 18px;
                padding: 1rem;
            }
        }
    }
}