.gallery {
  margin-top: 100px;
}

.gallery .all-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .all-gallery .all-gallery-image img {
  width: 100%;
}

.gallery .all-gallery .all-gallery-image p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  padding: 1rem;
}
/*# sourceMappingURL=gallery.css.map */