// $color: #f43c3c;
$color: tomato;
.nav-mobile{
    @media all and(min-width: 767px){
        display: none;
    }
    
    .nav-mobile-all{
        position: fixed;
        .hamburger {
            padding: 20px;
            display: inline-block;
            cursor: pointer;
            background: transparent;
            border: 0;
            margin: 0;

        }

        .hamburger,
        .navigation-mobile {
            transition: transform .3s .1s ease-in-out;
        }

        .hamburger--active {

            transform: translateX(250px)
        }



        .hamburger__box {
            width: 35px;
            height: 24px;
            display: inline-block;
            position: relative;
        }

        @mixin hamburger-line {
            width: 100%;
            height: 3px;
            background: $color;
            position: absolute;
        }

        .hamburger__inner {
            @include hamburger-line;

            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color 0.1s .2s ease-in-out;
        }

        .hamburger__inner::before,
        .hamburger__inner::after {
            @include hamburger-line;

            content: '';
            left: 0;
            transition: transform 0.2s 0.2s ease-in-out;
        }

        .hamburger__inner::before {
            top: -10px;
        }

        .hamburger__inner::after {
            top: 10px;
        }

        .hamburger--active .hamburger__inner {
            background: transparent;
        }

        .hamburger--active .hamburger__inner::before {
            transform: translateY(10px) rotate(45deg);
        }

        .hamburger--active .hamburger__inner::after {
            transform: translateY(-10px) rotate(-45deg);
        }


        .navigation-mobile {
            z-index: 9999;
            height: 100vh;
            width: 250px;
            background: rgb(240, 240, 240);
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-250px);
            
        }

        .navigation--active {
            transform: translateX(0px);
        }

        .navigation__list {
            margin-top: 20px;
            
            list-style: none;
            
            .img-mobile{
                text-align: center;
                img{
                    width: 40%;
                    margin:0 auto;
                    text-align: center;
                }
            }
        }

        .navigation__item {
            margin-bottom: 20px;
            text-align: center;
            margin-top: 20px;

            a {
                text-decoration: none;
                color: #171717;
                font-size: 17px;
            }
        }
    }
}