// $color: #f43c3c;
$color: tomato;
.header{
    background-image: url("/skiety/img/pilkarz.png");
    width: 100%;
    
    
    // height: 80vh;
    
    background-attachment: fixed;
    background-size: cover;
    // margin-top: 42px;
    border-bottom: 1px solid #ddd;
    @media all and(max-width: 766px){
        margin-top: 0;
    }
    .header-describe{
        // display: flex;
        
        // justify-content: center;
        // width: 100%;
        .welcome-header{
            
        
            .welcome-header-content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 80vh;
                @media all and(max-width: 767px){
                    
                    
                }
                
                h1{
                    font-size: 60px;
                    color: $color;
                    font-weight: 500;
                    font-family: 'Playfair Display', serif;
                    @media all and(max-width: 766px){
                        font-size: 30px;
                        // margin-top: 70px;
                        }
                        i{
                            font-size: 53px;
                            @media all and(max-width: 766px){
                                font-size: 26px;
                                
                                }
                        }
                }
                p{
                    color:$color;
                    margin-top: 10px;
                    font-weight: 700;
                    @media all and(max-width: 766px){
                            font-size: 18px;
                        }
                }
                h5{
                    width: 50%;
                    text-align: center;
                    margin-top: 30px;
                    color: #0d132c;
                    
                    line-height: 1.5;
                    font-size: 20px;
                    @media all and(max-width: 767px){
                        width: 90%;
                        font-size: 15px;
                        
                    }
                }
                
            .welcome-header-content-logoimg{
                width: 100%;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
                img{
                    width: 20%;
                   @media all and(max-width: 1024px){
                       width: 30%;
                   }
                   @media all and(max-width: 640px){
                       width: 40%;
                   }
                   @media all and(max-width: 480px){
                       width: 50%;
                   }
                }
            }
            
            }
           
            
        }
       
    }
}