.header {
  background-image: url("/skiety/img/pilkarz.png");
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 1px solid #ddd;
}

@media all and (max-width: 766px) {
  .header {
    margin-top: 0;
  }
}

.header .header-describe .welcome-header .welcome-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
}

.header .header-describe .welcome-header .welcome-header-content h1 {
  font-size: 60px;
  color: tomato;
  font-weight: 500;
  font-family: 'Playfair Display', serif;
}

@media all and (max-width: 766px) {
  .header .header-describe .welcome-header .welcome-header-content h1 {
    font-size: 30px;
  }
}

.header .header-describe .welcome-header .welcome-header-content h1 i {
  font-size: 53px;
}

@media all and (max-width: 766px) {
  .header .header-describe .welcome-header .welcome-header-content h1 i {
    font-size: 26px;
  }
}

.header .header-describe .welcome-header .welcome-header-content p {
  color: tomato;
  margin-top: 10px;
  font-weight: 700;
}

@media all and (max-width: 766px) {
  .header .header-describe .welcome-header .welcome-header-content p {
    font-size: 18px;
  }
}

.header .header-describe .welcome-header .welcome-header-content h5 {
  width: 50%;
  text-align: center;
  margin-top: 30px;
  color: #0d132c;
  line-height: 1.5;
  font-size: 20px;
}

@media all and (max-width: 767px) {
  .header .header-describe .welcome-header .welcome-header-content h5 {
    width: 90%;
    font-size: 15px;
  }
}

.header .header-describe .welcome-header .welcome-header-content .welcome-header-content-logoimg {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.header .header-describe .welcome-header .welcome-header-content .welcome-header-content-logoimg img {
  width: 20%;
}

@media all and (max-width: 1024px) {
  .header .header-describe .welcome-header .welcome-header-content .welcome-header-content-logoimg img {
    width: 30%;
  }
}

@media all and (max-width: 640px) {
  .header .header-describe .welcome-header .welcome-header-content .welcome-header-content-logoimg img {
    width: 40%;
  }
}

@media all and (max-width: 480px) {
  .header .header-describe .welcome-header .welcome-header-content .welcome-header-content-logoimg img {
    width: 50%;
  }
}
/*# sourceMappingURL=header.css.map */