.instagram{
    margin-top: 50px;
    padding: 0 20px;
    .insta-img{
        display: flex;
        justify-content: center;
        @media all and(max-width: 1024px){
            flex-direction: column;
            align-items: center;
        }
    }
}