// $color: #f43c3c;
$color: tomato;
.nav{
    @media all and(max-width: 766px){
        display: none;
    }
    border-bottom: 1px solid rgb(238, 237, 237);
    padding-bottom: 20px;
    .logo-nav{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        img{
            width: 150px;
            
        }
    }
    .nav-all{
        .navigation{
            ul{
                display: flex;
                justify-content: center;
                margin-top: 10px;
                li{
                    list-style-type: none;
                    margin: 10px;
                    font-size: 16px;
                    font-weight: 300;
                    a{
                        text-decoration: none;
                        color: #303030;
                        transition: 0.2s;
                        &:hover{
                            color:$color;
                            
                        }
                    }
                }
            }
        }
    }
    .flag{
        display: flex;
        margin-top: -15px;
        .flag-england{
            img{
                width: 40px;
                
            }
        }
        .flag-deustch{
            margin-top: 3px;
            img{
                width: 50px;
                // height: 0px;
            }
        }
    }
}