.nav {
  border-bottom: 1px solid #eeeded;
  padding-bottom: 20px;
}

@media all and (max-width: 766px) {
  .nav {
    display: none;
  }
}

.nav .logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.nav .logo-nav img {
  width: 150px;
}

.nav .nav-all .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

.nav .nav-all .navigation ul li {
  list-style-type: none;
  margin: 10px;
  font-size: 16px;
  font-weight: 300;
}

.nav .nav-all .navigation ul li a {
  text-decoration: none;
  color: #303030;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav .nav-all .navigation ul li a:hover {
  color: tomato;
}

.nav .flag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -15px;
}

.nav .flag .flag-england img {
  width: 40px;
}

.nav .flag .flag-deustch {
  margin-top: 3px;
}

.nav .flag .flag-deustch img {
  width: 50px;
}
/*# sourceMappingURL=nav.css.map */