.personalizacja .header-personalizacja {
  padding-top: 100px;
  width: 70%;
  margin: 0 auto;
}

.personalizacja .header-personalizacja h1 {
  margin-bottom: 40px;
}

@media all and (max-width: 1024px) {
  .personalizacja .header-personalizacja h1 {
    font-size: 30px;
  }
}

.personalizacja .header-personalizacja p {
  text-align: center;
}

@media all and (max-width: 1024px) {
  .personalizacja .header-personalizacja p {
    font-size: 17px;
  }
}

.personalizacja .przyklad-projekt {
  text-align: center;
  margin-top: 100px;
}

.personalizacja .img-personalizacja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}

@media all and (max-width: 1024px) {
  .personalizacja .img-personalizacja {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.personalizacja .img-personalizacja .img-pers {
  padding: 0 20px;
}

.personalizacja .img-personalizacja .img-pers img {
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 1024px) {
  .personalizacja .img-personalizacja .img-pers img {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-center: center;
    margin-bottom: 10px;
  }
}

@media all and (max-width: 640px) {
  .personalizacja .img-personalizacja .img-pers img {
    width: 90%;
  }
}
/*# sourceMappingURL=personalizacja.css.map */