.personalizacja{
    .header-personalizacja{
        padding-top: 100px;
        width: 70%;
        margin: 0 auto;
        h1{
            margin-bottom: 40px;
            @media all and(max-width: 1024px){
                font-size: 30px;
            }
        }
        p{
            text-align: center;
            @media all and(max-width: 1024px){
                font-size: 17px;
            }
        }
    }

    .przyklad-projekt{
        text-align: center;
        margin-top: 100px;
    }

    .img-personalizacja{
        display: flex;
        margin-top: 50px;
        margin-bottom: 100px;
        @media all and(max-width: 1024px){
            flex-direction: column;
        }
        .img-pers{
            
            padding: 0 20px;
            img{
               width: 100%;
                margin: 0 auto;
                @media all and(max-width: 1024px){
                    width: 70%;
                    display: flex;
                    align-center: center;
                    margin-bottom: 10px;
                    
             }
             @media all and(max-width: 640px ){
                 width: 90%;
             }
            }
         }
     }

}