.all-products{
    width: 100%;
    // margin-bottom: 100px;
    margin-top: 20px;
    
    
    .products-socks-line{
        border-right: 1px solid rgb(241, 239, 239);
    }
    .products{
        display: flex;
        // margin: 20px;
        
       
        @media all and(max-width: 640px){
            flex-direction: column;
        }
        .products-socks-group{
            display: flex;
            @media all and(max-width: 1024px){
                flex-direction: column;
               
            }
            
            
        }
        .products-socks-mobile{
            
        }
        
        .products-socks{
            
           
            @media all and(max-width: 640px){
                
            }
            // @media all and(max-width: 766px){
            //     z-index: -1;
            // }
            @media all and(max-width: 1024px){
                margin-top: 50px;
               
            }
            
            img{
                // width: 100%;
                // padding: 10px;
                
            }
            .image-container {
                display: inline-block;
                // position: relative;
                // width: 200px;
                // height: 200px;
                overflow: hidden;
                background: #fff;
                // cursor: pointer;
              }
              .image {
                // width: 200px;
                // height: 200px;
                
                transition: all .5s;
                a{
                    @media all and(max-width: 1200px){
                        
                    }
                }
                img{
                    max-width: 100%;
                    
                }
              }
              .caption {
                width: 100%;
                
                
                height: auto;
                // padding-top: 10px;
                // padding-bottom: 10px;
               
                background: #fff;
                text-align: center;
                font-size: 20px;
                 font-weight: 400;
                color: rgb(77, 77, 77);
                
                
                transition: all .5s;
                @media all and(max-width: 1280px){
                    font-size: 17px;
                }
                
              }
              .caption-num2 {
                transform: translateY(140px);
                // transform: translateY(-200px);
                @media all and(max-width: 1280px){
                    transform: translateY(140px);
                }
                
                &:hover{
                    // transform: translateY(-200px);
                   
                }
               
              }
              .image-container-num2 {
               &:hover{
                   .image-num2{
                    opacity: .8;
                    transform: translateY(-10%) translateY(0px);
                   }
                   .caption-num2{
                    transform: translateY(-45px);
                   }
               }
              }
              .break {
                display: initial;
              }
        }
        .price-products{
            text-align: center;
           
            h3{
                font-size: 18px;
                font-weight: 300;
                margin-top: 5px;
                @media all and(max-width: 1280px){
                    font-size: 16px;
                }
                
            }
            p{
                font-size: 15px;
                margin-top: 5px;
                font-weight: 300;
                @media all and(max-width: 1280px){
                    font-size: 14px;
                }
            }
        }
    }
}

.one-second{
    margin-top: 50px;
    margin-bottom: 120px;
    @media all and(max-width: 640px){
        margin-top: 0;
    }
    @media all and(max-width: 1024px){
        margin-bottom: 0;
    }
    .all-products{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        @media all and(max-width:1024px){
            width: 100%;
            
        }
       
       
        .products-socks{
           
            img{
                padding:0;
            }
        }
        .img-modal-body{
            width: 60%;
            
            

        }
        .content-modal-body{
           margin-top: 80px;
           @media all and(max-width: 1024px){
               margin-top: 30px;
           }
        }
        .modal-body{
            padding-bottom:20px;
            padding-top: 0;
        }
        .products-socks-group{
            @media all and(max-width:1024px){
                flex-direction: row;
            }
            @media all and(max-width: 640px){
                flex-direction: column;
            }
        }
        .products-socks-group{
            display: flex;
            @media all and(max-width: 1024px){
                flex-direction: column;
               
            }
            
            
        }
    }
}

.rekaw-one{
    padding: 0 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    @media all and(max-width: 1240px){
        padding: 0 100px;
    }
    @media all and(max-width: 1024px){
        padding:0;
        width: 100%;
    }
    img{
        // width:70%;
        @media all and(max-width: 640px){
            width: 100%;
        }
    }
   .image{
    //    margin-left: 100px;
       @media all and(max-width: 640px){
           margin-left: 0;
       }
   }
   margin-top: 50px;
   margin-bottom: 120px;
   @media all and(max-width: 640px){
       margin-top: 0;
   }
   .all-products{
       display: flex;
       justify-content: center;
       width: 100%;
       margin: 0 auto;
       @media all and(max-width:1024px){
           width: 100%;
           
           
       }
      
      
       .products-socks{
          
           img{
               padding:0;
           }
       }
       .img-modal-body{
           width: 60%;
           
           

       }
       .content-modal-body{
          margin-top: 80px;
          @media all and(max-width: 1024px){
              margin-top: 30px;
          }
       }
       .modal-body{
           padding-bottom:20px;
           padding-top: 0;
       }
       .products-socks-group{
           @media all and(max-width:1024px){
               flex-direction: row;
           }
           @media all and(max-width: 640px){
               flex-direction: column;
           }
       }
       .products-socks-group-rekaw-one{
           display: flex;
           @media all and(max-width: 1024px){
            //    flex-direction: column;
              
           }
           
           
       }
   }

}
.one-newsocks2022{
    padding: 0 200px;
    @media all and(max-width: 1240px){
        padding: 0 100px;
    }
    @media all and(max-width: 1024px){
        padding:0;
    }
}
.one-newsocks2022-child{
    margin-bottom: 100px;
    padding: 0 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    @media all and(max-width: 1240px){
        padding: 0 100px;
    }
    @media all and(max-width: 1024px){
        padding:0;
        width: 100%;
        margin: 0;
    }
    
}
.header-child-one-newsocks2022-child{
    text-align: center;
    margin-bottom: 30px;
    background-color: #f7f7f7;
    padding: 40px 0;
    h1{
        font-size: 40px;
        color: tomato;
        @media all and(max-width: 1024px){
            font-size: 30px;
        }
        @media all and(max-width: 640px){
            font-size: 22px;
        }
    }
}
.one-newsocks2022-child{
    
    
        .products-socks-group-child{
            display: flex;
            @media all and(max-width: 640px){
                flex-direction: column;
            
            }
            
            
        }
    
}