.all-products {
  width: 100%;
  margin-top: 20px;
}

.all-products .products-socks-line {
  border-right: 1px solid #f1efef;
}

.all-products .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 640px) {
  .all-products .products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.all-products .products .products-socks-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 1024px) {
  .all-products .products .products-socks-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media all and (max-width: 1024px) {
  .all-products .products .products-socks {
    margin-top: 50px;
  }
}

.all-products .products .products-socks .image-container {
  display: inline-block;
  overflow: hidden;
  background: #fff;
}

.all-products .products .products-socks .image {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.all-products .products .products-socks .image img {
  max-width: 100%;
}

.all-products .products .products-socks .caption {
  width: 100%;
  height: auto;
  background: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #4d4d4d;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media all and (max-width: 1280px) {
  .all-products .products .products-socks .caption {
    font-size: 17px;
  }
}

.all-products .products .products-socks .caption-num2 {
  -webkit-transform: translateY(140px);
          transform: translateY(140px);
}

@media all and (max-width: 1280px) {
  .all-products .products .products-socks .caption-num2 {
    -webkit-transform: translateY(140px);
            transform: translateY(140px);
  }
}

.all-products .products .products-socks .image-container-num2:hover .image-num2 {
  opacity: .8;
  -webkit-transform: translateY(-10%) translateY(0px);
          transform: translateY(-10%) translateY(0px);
}

.all-products .products .products-socks .image-container-num2:hover .caption-num2 {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}

.all-products .products .products-socks .break {
  display: initial;
}

.all-products .products .price-products {
  text-align: center;
}

.all-products .products .price-products h3 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
}

@media all and (max-width: 1280px) {
  .all-products .products .price-products h3 {
    font-size: 16px;
  }
}

.all-products .products .price-products p {
  font-size: 15px;
  margin-top: 5px;
  font-weight: 300;
}

@media all and (max-width: 1280px) {
  .all-products .products .price-products p {
    font-size: 14px;
  }
}

.one-second {
  margin-top: 50px;
  margin-bottom: 120px;
}

@media all and (max-width: 640px) {
  .one-second {
    margin-top: 0;
  }
}

@media all and (max-width: 1024px) {
  .one-second {
    margin-bottom: 0;
  }
}

.one-second .all-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 1024px) {
  .one-second .all-products {
    width: 100%;
  }
}

.one-second .all-products .products-socks img {
  padding: 0;
}

.one-second .all-products .img-modal-body {
  width: 60%;
}

.one-second .all-products .content-modal-body {
  margin-top: 80px;
}

@media all and (max-width: 1024px) {
  .one-second .all-products .content-modal-body {
    margin-top: 30px;
  }
}

.one-second .all-products .modal-body {
  padding-bottom: 20px;
  padding-top: 0;
}

@media all and (max-width: 1024px) {
  .one-second .all-products .products-socks-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (max-width: 640px) {
  .one-second .all-products .products-socks-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.one-second .all-products .products-socks-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 1024px) {
  .one-second .all-products .products-socks-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rekaw-one {
  padding: 0 200px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 120px;
}

@media all and (max-width: 1240px) {
  .rekaw-one {
    padding: 0 100px;
  }
}

@media all and (max-width: 1024px) {
  .rekaw-one {
    padding: 0;
    width: 100%;
  }
}

@media all and (max-width: 640px) {
  .rekaw-one img {
    width: 100%;
  }
}

@media all and (max-width: 640px) {
  .rekaw-one .image {
    margin-left: 0;
  }
}

@media all and (max-width: 640px) {
  .rekaw-one {
    margin-top: 0;
  }
}

.rekaw-one .all-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 1024px) {
  .rekaw-one .all-products {
    width: 100%;
  }
}

.rekaw-one .all-products .products-socks img {
  padding: 0;
}

.rekaw-one .all-products .img-modal-body {
  width: 60%;
}

.rekaw-one .all-products .content-modal-body {
  margin-top: 80px;
}

@media all and (max-width: 1024px) {
  .rekaw-one .all-products .content-modal-body {
    margin-top: 30px;
  }
}

.rekaw-one .all-products .modal-body {
  padding-bottom: 20px;
  padding-top: 0;
}

@media all and (max-width: 1024px) {
  .rekaw-one .all-products .products-socks-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media all and (max-width: 640px) {
  .rekaw-one .all-products .products-socks-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.rekaw-one .all-products .products-socks-group-rekaw-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.one-newsocks2022 {
  padding: 0 200px;
}

@media all and (max-width: 1240px) {
  .one-newsocks2022 {
    padding: 0 100px;
  }
}

@media all and (max-width: 1024px) {
  .one-newsocks2022 {
    padding: 0;
  }
}

.one-newsocks2022-child {
  margin-bottom: 100px;
  padding: 0 200px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 1240px) {
  .one-newsocks2022-child {
    padding: 0 100px;
  }
}

@media all and (max-width: 1024px) {
  .one-newsocks2022-child {
    padding: 0;
    width: 100%;
    margin: 0;
  }
}

.header-child-one-newsocks2022-child {
  text-align: center;
  margin-bottom: 30px;
  background-color: #f7f7f7;
  padding: 40px 0;
}

.header-child-one-newsocks2022-child h1 {
  font-size: 40px;
  color: tomato;
}

@media all and (max-width: 1024px) {
  .header-child-one-newsocks2022-child h1 {
    font-size: 30px;
  }
}

@media all and (max-width: 640px) {
  .header-child-one-newsocks2022-child h1 {
    font-size: 22px;
  }
}

.one-newsocks2022-child .products-socks-group-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 640px) {
  .one-newsocks2022-child .products-socks-group-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=products.css.map */