body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */