// $color: #f43c3c;
$color: tomato;
.three{
    margin-top: 150px;
    width: 100%;
   
    @media all and(max-width: 640px){
        margin-top: 50px;
    }
    .three-important{
       display: flex;
       margin-bottom: 50px;
       @media all and(max-width: 1024px){
            margin-bottom: 0;
            align-items: center;
            flex-direction: column-reverse;
            
        }
       .img-four{
           margin-top: -100px;
           @media all and(max-width: 1400px){
            margin-top: 0;
            }
            @media all and(max-width: 1024px){
                display: flex;
                align-items: center;
                
            }
            img{
                width: 80%;
                padding: 0 50px;
                @media all and(max-width: 1024px){
                    margin: 0 auto;
                    padding: 0;
                }
                
            }
        }
    }
    
    .all-three{
        width: 900px;
        margin: 100px auto 100px;
        text-align: center;
        
        @media all and(max-width: 1024px){
            width: 100%;
            // padding: 0 20px;
        }
        @media all and(max-width: 640px){
            margin: 20px auto 20px;
        }
        .header-three{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 20px;
            margin-top: 50px;
            @media all and(max-width: 1400px){
                margin-top: 0;
            }
            h3{
                font-size: 35px;
                color:$color;
                font-family: 'Playfair Display', serif;
                font-weight: 500;
                margin-bottom: 30px;
                @media all and(max-width: 640px){
                    font-size: 28px;
                }
            }
            h5{
                font-weight: 400;
                font-size: 20px;
                margin-bottom: 60px;
                @media all and(max-width: 640px){
                    font-size: 17px;
                    margin-bottom: 40px;
                }
            }
            p{
                font-size: 17px;
                line-height: 1.7;
                font-weight: 300;
                color: #707070;
                @media all and(max-width: 640px){
                    font-size: 15px;   
                }
            }
        }
        .allegro-img{
            img{
                width: 30%;
                @media all and(max-width: 640px){
                    width: 60%;
                }
            }
        }
        
    }
    .img-three{
        // background-image: url("/skiety/img/woman.jpg");
        background-image: url("/skiety/img/galeria/d1.jpeg");
        background-repeat: no-repeat;
        background-position: 50% 20%;
        width: 100%;
        height: 800px;
    }
}