.three {
  margin-top: 150px;
  width: 100%;
}

@media all and (max-width: 640px) {
  .three {
    margin-top: 50px;
  }
}

.three .three-important {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media all and (max-width: 1024px) {
  .three .three-important {
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.three .three-important .img-four {
  margin-top: -100px;
}

@media all and (max-width: 1400px) {
  .three .three-important .img-four {
    margin-top: 0;
  }
}

@media all and (max-width: 1024px) {
  .three .three-important .img-four {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.three .three-important .img-four img {
  width: 80%;
  padding: 0 50px;
}

@media all and (max-width: 1024px) {
  .three .three-important .img-four img {
    margin: 0 auto;
    padding: 0;
  }
}

.three .all-three {
  width: 900px;
  margin: 100px auto 100px;
  text-align: center;
}

@media all and (max-width: 1024px) {
  .three .all-three {
    width: 100%;
  }
}

@media all and (max-width: 640px) {
  .three .all-three {
    margin: 20px auto 20px;
  }
}

.three .all-three .header-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  margin-top: 50px;
}

@media all and (max-width: 1400px) {
  .three .all-three .header-three {
    margin-top: 0;
  }
}

.three .all-three .header-three h3 {
  font-size: 35px;
  color: tomato;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  margin-bottom: 30px;
}

@media all and (max-width: 640px) {
  .three .all-three .header-three h3 {
    font-size: 28px;
  }
}

.three .all-three .header-three h5 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 60px;
}

@media all and (max-width: 640px) {
  .three .all-three .header-three h5 {
    font-size: 17px;
    margin-bottom: 40px;
  }
}

.three .all-three .header-three p {
  font-size: 17px;
  line-height: 1.7;
  font-weight: 300;
  color: #707070;
}

@media all and (max-width: 640px) {
  .three .all-three .header-three p {
    font-size: 15px;
  }
}

.three .all-three .allegro-img img {
  width: 30%;
}

@media all and (max-width: 640px) {
  .three .all-three .allegro-img img {
    width: 60%;
  }
}

.three .img-three {
  background-image: url("/skiety/img/galeria/d1.jpeg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  width: 100%;
  height: 800px;
}
/*# sourceMappingURL=three.css.map */