// $color: #f43c3c;
$color: tomato;
.two{
    background-color: rgb(243, 242, 242);
    // padding-top: 100px;
    
    margin-top: 50px;
    width: 100%;
    
    margin: 0 auto;
    @media all and(max-width: 1024px){
        // padding-top: 50px;
    }
    .header-our-products{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        @media all and(max-width: 1024px){
            margin-bottom: 50px;
        }
        h2{
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 30px;
            color: $color;
            font-family: 'Playfair Display', serif;
            @media all and(max-width: 1024px){
                font-size: 25px;
            }
        }
        p{
            font-weight: 100;
            color: #0d132c;
            // color: #fff;
            @media all and(max-width: 1024px){
                font-size: 16px
            }
        }
    }

    .our-products{
        display: flex;
        align-items: center;
        justify-content: center;
       @media all and(max-width: 1024px){
           display: none;
       }
        .socks-together{
            display: flex;
            align-items: center;
            padding-top: 100px;
            padding-left: 50px;
            
            .content-socks-two{
                .header-socks-two{
                    line-height: 2.3;
                    // color: #000;
                    color: #000;
                    h3{
                        font-family: 'Playfair Display', serif;
                        font-weight: 400;
                    }
                    p{
                        font-weight: 300;
                        font-size: 18px;
                        padding-bottom: 50px;
                    }
                    
                }
                .btn-two{
                    cursor: pointer;
                    width: 200px;
                    
                    // padding: 10px;
                    a{
                        text-decoration: none;
                        color: #000;
                        font-size: 16px;
                        font-weight: 400;
                        border: 1px solid #000;
                        padding: 12px 30px;
                        transition: 0.3s;
                        
                        &:hover{
                            color: #000;
                            background: #fff;
                        }
                         
                    }
                }
            }
        }
        .socks-child{
            width: 100%;
            
            height: 600px;
            background-repeat: no-repeat;
           
            background-image: url("/skiety/img/newprojectsocks/socks-child-new2.JPG");
           
            // background: #0d132c;
            // background-position-y: 30%;
            // background-position-x: 80%;
            border-right: 1px solid rgba(0, 0, 0, 0.062);
            
            // @media all and(max-width: 1600px){
            //     background-position: 60% 40%;
            // }
            // @media all and(max-width: 1400px ){
            //     background-position: 40% 60%;
            // }
            // @media all and(max-width: 1280px){
            //     background-position: left;
            //     background-position: 30% 70%;
                
            // }
            
        }
        .socks-adult{
            width: 100%;
            
            height: 600px;
            background-repeat: no-repeat;
            background-image: url("/skiety/img/newprojectsocks/socks-adult-new2.JPG");            // background-image: url("/skiety/img/adultsocks2\ —\ kopia.jpg");
            // background: $color;
            // background-position: center;
            // @media all and(max-width: 1600px){
            //     background-position: 60% 40%;
            // }
            // @media all and(max-width: 1400px ){
            //     background-position: 40% 60%;
            // }
            // @media all and(max-width: 1280px){
            //     background-position: left;
            //     background-position: 30% 70%;
                
            // }
        }
    }

}

.our-products-mobile{
    
    @media all and(min-width: 1025px){
        display: none;
    }
    .socks-child-mobile{
        background: #0d132c;
        .content-socks-two-mobile{
            
            .img-two-mobile{
                img{
                    width: 100%;
                }
            }
            .header-two-mobile{
                text-align: center;
                color: #fff;
                padding: 0 10px;
                h3{
                    font-family: 'Playfair Display', serif;
                        font-weight: 300;
                        font-size: 20px;
                        margin-top: 30px;
                        color: $color;
                }
                p{
                    font-size: 15px;
                    margin-top: 15px;
                    
                }
            }
        }
        .btn-two-mobile{
            text-align: center;
            margin-top: 30px;
            padding-bottom: 50px;
            .child-adult-modal-mobile{
                font-size: 16px;
                border: 1px solid #fff;
                padding: 15px 20px;
            }
            .modal-trigger{
               @media all and(max-width: 1024px){
                    // padding:0;
               }
            }
        }
    }
}





//two two

.two-two{
    margin-top: 0px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    @media all and(max-width: 1024px){
        margin-top: 50px;
    }
    .all-two{
        display: flex;
        @media all and(max-width: 1024px){
            flex-direction: column;
            align-items: center;
        }
        .img-two-left{
            img{
                width: 100%;
            }
            @media all and(max-width: 1024px){
               margin-bottom: 20px;
               display: block;

            }
            @media all and(min-width: 1024px){
                display: none;
            }
            
        }
        .describe-two-right{
           display: flex;
        
            align-items: center;
            width: 50%;
            padding: 0 20px;
            @media all and(max-width: 1024px){
                width: 90%;
                margin-bottom: 50px;
            }
            ul{
                li{
                    list-style-type: none;
                    display: flex;
                    margin-bottom: 20px;
                    color: #707070;
                    font-size: 19px;
                    @media all and(max-width: 1280px){
                        font-size: 17px;
                    }
                    @media all and(max-width: 767px){
                        font-size: 15px;
                    }
                }
                .icon-describe-two{
                    margin-right: 10px;
                    color: #289b37;
                }
                h3{
                    margin-bottom: 50px;
                    color: #707070;
                    font-weight: 600;
                    @media all and(max-width: 640px){
                        font-size: 18px;
                    }
                }
            }
        }
    }
}