.two {
  background-color: #f3f2f2;
  margin-top: 50px;
  width: 100%;
  margin: 0 auto;
}

.two .header-our-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

@media all and (max-width: 1024px) {
  .two .header-our-products {
    margin-bottom: 50px;
  }
}

.two .header-our-products h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 30px;
  color: tomato;
  font-family: 'Playfair Display', serif;
}

@media all and (max-width: 1024px) {
  .two .header-our-products h2 {
    font-size: 25px;
  }
}

.two .header-our-products p {
  font-weight: 100;
  color: #0d132c;
}

@media all and (max-width: 1024px) {
  .two .header-our-products p {
    font-size: 16px;
  }
}

.two .our-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1024px) {
  .two .our-products {
    display: none;
  }
}

.two .our-products .socks-together {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-left: 50px;
}

.two .our-products .socks-together .content-socks-two .header-socks-two {
  line-height: 2.3;
  color: #000;
}

.two .our-products .socks-together .content-socks-two .header-socks-two h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.two .our-products .socks-together .content-socks-two .header-socks-two p {
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 50px;
}

.two .our-products .socks-together .content-socks-two .btn-two {
  cursor: pointer;
  width: 200px;
}

.two .our-products .socks-together .content-socks-two .btn-two a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #000;
  padding: 12px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.two .our-products .socks-together .content-socks-two .btn-two a:hover {
  color: #000;
  background: #fff;
}

.two .our-products .socks-child {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-image: url("/skiety/img/newprojectsocks/socks-child-new2.JPG");
  border-right: 1px solid rgba(0, 0, 0, 0.062);
}

.two .our-products .socks-adult {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-image: url("/skiety/img/newprojectsocks/socks-adult-new2.JPG");
}

@media all and (min-width: 1025px) {
  .our-products-mobile {
    display: none;
  }
}

.our-products-mobile .socks-child-mobile {
  background: #0d132c;
}

.our-products-mobile .socks-child-mobile .content-socks-two-mobile .img-two-mobile img {
  width: 100%;
}

.our-products-mobile .socks-child-mobile .content-socks-two-mobile .header-two-mobile {
  text-align: center;
  color: #fff;
  padding: 0 10px;
}

.our-products-mobile .socks-child-mobile .content-socks-two-mobile .header-two-mobile h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 30px;
  color: tomato;
}

.our-products-mobile .socks-child-mobile .content-socks-two-mobile .header-two-mobile p {
  font-size: 15px;
  margin-top: 15px;
}

.our-products-mobile .socks-child-mobile .btn-two-mobile {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 50px;
}

.our-products-mobile .socks-child-mobile .btn-two-mobile .child-adult-modal-mobile {
  font-size: 16px;
  border: 1px solid #fff;
  padding: 15px 20px;
}

.two-two {
  margin-top: 0px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

@media all and (max-width: 1024px) {
  .two-two {
    margin-top: 50px;
  }
}

.two-two .all-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media all and (max-width: 1024px) {
  .two-two .all-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.two-two .all-two .img-two-left img {
  width: 100%;
}

@media all and (max-width: 1024px) {
  .two-two .all-two .img-two-left {
    margin-bottom: 20px;
    display: block;
  }
}

@media all and (min-width: 1024px) {
  .two-two .all-two .img-two-left {
    display: none;
  }
}

.two-two .all-two .describe-two-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 0 20px;
}

@media all and (max-width: 1024px) {
  .two-two .all-two .describe-two-right {
    width: 90%;
    margin-bottom: 50px;
  }
}

.two-two .all-two .describe-two-right ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  color: #707070;
  font-size: 19px;
}

@media all and (max-width: 1280px) {
  .two-two .all-two .describe-two-right ul li {
    font-size: 17px;
  }
}

@media all and (max-width: 767px) {
  .two-two .all-two .describe-two-right ul li {
    font-size: 15px;
  }
}

.two-two .all-two .describe-two-right ul .icon-describe-two {
  margin-right: 10px;
  color: #289b37;
}

.two-two .all-two .describe-two-right ul h3 {
  margin-bottom: 50px;
  color: #707070;
  font-weight: 600;
}

@media all and (max-width: 640px) {
  .two-two .all-two .describe-two-right ul h3 {
    font-size: 18px;
  }
}
/*# sourceMappingURL=two.css.map */